#ignora i file generati da vivado. Probabilmente inutile ma lo lascio
vivado.*
synth_*/
#ignora i file temporanei generati da vivado a runtime
.Xil/
*.str
#ignora i file di log e jou, anche questo probabilmente inutile ma non voglio correre rischi
*.log
*.jou
#ignora altri tipi di cartelle e file di report
working_zones_project.runs/
#ignora la cartella che uso in locale per le simulazioni
log_and_jou/
#cartella nascosta di vivado
.jobs/

#ignora le modifiche alle quattro cartelle principali di vivado, così si evita di committare i cambiamenti
working_zones_project.ip_user_files/
working_zones_project.cache/
working_zones_project.sim/
working_zones_project.hw/

#ignora il file di progetto, semplicemente perche' ho paura si rompa non avendo a disposizione le altre quattro cartelle
working_zones_project.xpr

#ignora i wcfg tranne quello principale
*.wcfg
!minitest_behav.wcfg
#ignora i file generati dal randomizzatore
random_test.txt

#documentazione: ignora i file generati dal compilatore Latex
sorgente.*
#pero' non il sorgente base e il pdf
!sorgente.tex
!sorgente.pdf